@include font-face("Nakheel-Text", "../fonts/Nakheel-TextRegular", 400);
@include font-face("Nakheel-Text", "../fonts/Nakheel-TextBold", 700);
@include font-face("Nakheel-Headline", "../fonts/Nakheel-HeadlineRegular", 400);
@include font-face("Nakheel-Headline", "../fonts/Nakheel-HeadlineBold", 700);


@font-face {
	font-family: 'Nakheel-Text';
	font-display: swap;
	src: 
		url("../fonts/Nakheel-TextRegular.ttf") format('truetype');
		font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	font-display: swap;
	src: 
		url("../fonts/Manrope-Regular.ttf") format('truetype');
		font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	font-display: swap;
	src: 
		url("../fonts/Manrope-Medium.ttf") format('truetype');
		font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Nakheel-Text';
	font-display: swap;
	src: 
		url("../fonts/Nakheel-TextBold.ttf") format('truetype');
		font-weight: 700;
	font-style: normal;
}