include ../includes/mixins.pug
-
  var pagesLink = [
  {
  home: '/',
  characteristics: './characteristics.html',
  contacts: './contacts.html',
  terrace: './terrace.html'
  }
  ];
block variable
doctype html
html(lang="uk")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    <meta name="theme-color" content="#017C96" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#017C96" media="(prefers-color-scheme: dark)">
    <link rel="shortcut icon" type="images/icon" href="./assets/images/favicon.png">
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    block meta
    block head

  body(class= class_page id= id_page)
    .toast-wrapper(data-toast-wrapper)
    // START HEADER
    block header
    // END HEADER
    .page__inner(data-scroll-container)
      .page__content
        block content
      block footer
    block scripts
